.upload-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

input[type="file"] {
  display: none; /* Hide the real file input */
}

.custom-file-upload {
  display: inline-block;
  background: linear-gradient(to right, #ffd500, #ffbb00);
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.custom-file-upload:hover {
  background: white;
  color: #222;
  border: 1px solid #ccc;
}

.upload-button {
  background: linear-gradient(to right, #ffd500, #ffbb00);
  color: black;
  border: none;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: 150px;
  margin-left: -6.3em;
  

}

.upload-button:hover {
  background: white;
  color: #222;
  border: 1px solid #ccc;
}

.upload-message {
  margin-top: 20px;
  white-space: pre-wrap;
  font-size: 0.95rem;
  color: #444;
}
