.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.title-left {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.file-input {
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.file-input::file-selector-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 22px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.upload-button:hover,
.file-input::file-selector-button:hover {
  opacity: 0.9;
}

.message-box {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: 500;
}
